/*

Add styles or override variables from the theme here.

*/
/*
$primary: #390040;
$secondary: #A23B72;
$primary: #333E48;
$primary: #0091BD;
*/

$primary: #002B49;
$secondary: #11809f;

$google_font_name: "Lato";
$google_font_family: "Lato:300,300i,400,400i,700,700i";

