+++
title = "Arm Software Developers"
linkTitle = "Arm Software Developers"

+++

{{< blocks/cover title="Welcome to Arm Software: An awesome Project!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/ArmDeveloperEcosystem/">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Junk temperature assessment - in the cloud!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="white" %}}
{{< card header="**Learning Topic 1**" title="First Linux Info" >}}
Imagine there's no heaven, It's easy if you try<br/>
No hell below us, above us only sky<br/>
Imagine all the people living for today…
{{< /card >}}
{{< card header="**Learning Topic 2**" title="Second topic" >}}
Blah en, It's easy if you try<br/>
No hell below us, above us only sky<br/>
{{< /card >}}


{{% /blocks/lead %}}


{{< blocks/section color="primary" >}}

{{% blocks/feature icon="fa-lightbulb" title="Software development on Arm!" %}}
Providing what software developers really want to know to get things done on Arm.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/ArmDeveloperEcosystem" %}}
We do a [Pull Request](https://github.com/ArmDeveloperEcosystem) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/ArmSoftwareDev" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

